.titulo {
    color: blue;
    text-align: center;
}

.img {
    width: 500;
    display: block;
    margin: 0 auto;
}

/* Menu style */

#menu li {
    display: inline;
    padding: 15px;
}

#menu li a {
    text-decoration: none;
    color: rgb(35, 22, 223);
}

#menu li a:hover {
    color: rgb(153, 144, 144);
}